/* global styles including mobile */

@font-face {
    font-family: 'Barlow', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;0,800;1,600&family=Gugi&display=swap');
}

:root {
    --white: #fff;
    --black: #000;
    --grey: #585048;
    --red: #f22e76;
    --purple: #6301f7;
    --blueish:  #48f5e8;
    --yellow: #ffee3f;
    --pink: #f6a3ee;
}

/* ----- layout ----- */

.main, .main-visit-us {
    position: relative;
    top: 60px;
    margin: 10px;
}

.main {
    text-align: center;
}

p {
    text-align: left;
    padding-bottom: 10px;
    max-width: 600px;
}

/* ----- typography ----- */

h1, h2, h3, h4, .btn, .btn-main {
    font-family: "barlow", sans-serif;
    text-transform: uppercase;
}

.h1-main, .h2-main, .h3-main, .h4-main {
    color: white;
    text-align: center;
}

h1 {
    font-weight: 900;
}

.h1-pink {
    color: var(--pink);
    text-shadow: -4px 3px black;
    font-size: 38px;
}

h2 {
    font-size: 22px;
    text-align: center;
}

.subheader {
    text-transform: none;
    text-align: left;
    font-style: italic;
}

nav {
    font-family: "barlow";
    text-transform: uppercase;
}

body {
    margin: 0 auto;
    font-family: "Futura", sans-serif;
}

/* ----- header ----- */

.logo {
    width: 100%;
    max-width: 250px;
    padding: 10px;
}

.fa-bars {
    margin-top: 10px;
}

header {
    position: fixed;
    width: 100%;
    margin: 0px;
    background-color: white;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 35px;
}

.header-home {
    position: relative;
    top: 50px;
    box-sizing: border-box;
    background-image: url(/images/header-1920.jpg);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header-line {
    background: no-repeat url(/images/header-line.jpg);
    width: 100%;
    height: 8px;
    z-index: 9;
    grid-column: 1 / 3;
    position: absolute;
    top: 45px;
}

/* ----- navigation ----- */

nav {
    grid-column: 1 / 3;
    height: 100vh;
}

nav li {
    list-style-type: none;
    padding: 30px;
}

nav, #hamburger  {
    display: none;
}

#hamburger:checked ~ nav {
    display: block;
    text-align: center;
    padding-top: 40px;
}

a {
    text-decoration: none;
    color: inherit;
  }

/* ----- images and buttons ----- */

img {
    width: 100%;
}

a.btn-main, .btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
    font-size: 1rem;
    padding: 0.6rem 4rem;
}

/* ----- main content ----- */

.cta-box {
    display: flex;
    justify-content: center;
    width: 100%;
    background: no-repeat url(/images/squares-1.png);
    background-size: contain;
    max-width: 378px;
    height: 378px;
    margin: 10px auto;
    resize: both;
    text-align: center;
    margin-top: 5%;
}

.two {
    background: no-repeat url(/images/young-stars.jpg);
    background-size: 100% auto;
}

.three {
    background: no-repeat url(/images/exhibitions-illustration.png);
    background-size: 100% auto;
}

.four {
    background: no-repeat url(/images/squares-3.png);
    background-size: 100% auto;
}

.five {
    background: no-repeat url(/images/ai.jpg);
    background-size: 100% auto;
}
.six {
    background: no-repeat url(/images/squares-2.png);
    background-size: 100% auto;
}

.seven {
    background: no-repeat url(/images/biology.jpg);
    background-size: 100% auto;
}

/* ---- footer ----- */

.footer-line {
    margin-top: 100px;
    width: 100%;
    height: 1px;
    background-color: var(--grey);
}

footer {
    margin: 50px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

footer p {
    font-size: 14px;
    margin: 0px;
}

footer a {
    margin-bottom: 8px;
}

footer h4 {
    font-family: "barlow";
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-newsletter {
    grid-area: 3 / 1 / 4 / 3;
}

footer a {
    display: block;
    color: var(--red);
}

input {
    width: 100%;
    min-height: 30px;
}

input[type="submit"] {
    text-decoration: none;
    background: var(--red);
    color: var(--white);
    padding: 0.6rem 3rem;
    border: 0;
    text-transform: uppercase;
    font-family: "barlow";
    font-weight: 700;
    font-size: 1rem;
    margin-top: 10px;
}

/* ----- visit us page ----- */

.header-visit {
    top: 0px;
}

.h2-visit {
    text-align: left;
}

.h3-other {
    text-align: left;
}

/* ----- events page ----- */

.main-events {
 margin-top: 80px;
}

.schedule-section, .section {
    margin: 10px;
}

.section {
    margin-top: 70px;
}

.section-two {
    background-color: var(--pink);
    padding: 50px 10px 50px 10px;
    margin-top: 70px;
}

.section-night {
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
}

.more-events {
    background-color: var(--purple);
    padding: 10px;
}

.more-events h2, .more-events h3 {
    color: var(--blueish);
    font-size: 40px;
    text-shadow: -5px 5px black;
    text-align: center;
}

.energetica {
    padding: 10px;
    margin: 30px 0px 30px 0px;
}

.more-events h3 {
    font-size: 28px;
}


/* ----- exhibitions & get involved pages ----- */

.h1-get-involved {
    margin: 10px;
}

.section-two.yellow {
    background-color: var(--yellow);
}

/*
.box {
    background: no-repeat url(/images/space-illustration-7.svg);
    width: 100%;
    height: 115px;
    position: absolute;
}

.box.two {
    background: no-repeat url(/images/space-illustration-6.svg);
}
*/
.boxes {
    background: no-repeat url(/images/space-illustration-5.svg);
    width: 100%;
    height: 150px;
}

.boxes-one {
    display: none;
    background: no-repeat url(/images/space-illustration-1.svg);
    width: 100%;
    height: 250px;
}

/* ----- contact page ----- */

.main.contact {
    text-align: left;
}

form label {
    color: var(--gray);
    font-size: 0.8rem;
  }

textarea {
    width: 100%;
    min-height: 200px;
  }

input:focus,
textarea:focus {
  outline: 2px solid var(--red);
  border: none;
}

/* ----- young stars page ----- */
.young-stars-illustration {
    background: no-repeat url(/images/young-stars-illustration.svg);
    width: 100%;
    height: 380px;
    margin-top: 50px;
}

/* tablets */

@media (min-width: 600px) and (max-width: 1100px) {
    .main {
        display: grid;
        justify-items: center;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .cta-box {
        margin: 0px;
    }

    .one {grid-column: 1 / 4;}
    .four {grid-area: 2 / 3 / 3 / 4;}

    .exhibitions-box {
        grid-column: 1 / 4;
        max-width: 800px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* laptops and desktop */

@media (min-width: 1101px) {

    /* layout */
    .main {
        margin: 0% 10% 10% 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .one {grid-area: 1 / 3 / 2 / 5;}
    .two { grid-area: 1 / 2 / 2 / 3;}
    .visit {grid-area: 1 / 1 / 2 / 2;}
    .four {grid-area: 2 / 3 / 3 / 4;}
    .five {grid-area: 2 / 4 / 3 / 5;}
    .six {grid-area: 3 / 4 / 4 / 5;}
    .seven {grid-area: 3 / 3 / 4 / 4;}
    .exhibitions-box {grid-area: 2 / 1 / 4 / 3;}

    /* header */
    header {
        position: inherit;
        height: 80px;
        display: grid;
        grid-template-columns:  500px 1fr;
    }

    .logo {
        max-width: 450px;
        margin-left: 5%;
        margin-top: 10px;
    }

    .header-home {
        top: 0px;
        height: 350px;
    }

    .header-line {
        top: 75px;
    }

    /* navigation */
    nav {
        display: inline;
        grid-area: 1 / 2 / 2 / 3;
        justify-self: end;
        margin-top: 15px;
        margin-right: 5%;
    }

    nav li {
        padding: 10px;
        display: inline;
    }

   #hamburger, .fa-bars {
        display: none;
    }

    .active {
        color: var(--red);
    }

    /* typography */
    h1 {
        font-size: 57px;
    }

    .h1-pink {
        font-size: 57px;
    }

    h2 {
        font-size: 24px;
    }

    .h2-main.header  {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    nav li:hover {
        color: var(--red);
    }

    .btn-main:hover, .btn:hover {
        background-color: var(--white);
        color: var(--red);
    }

    /* footer */

    .footer-line {
        margin-top: 80px;
    }

    footer {
        margin: 3% 10% 2% 10%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .footer-newsletter {
        grid-area: 1 / 5 / 2 / 7;
    }

    /* ----- exhibitions & get involved pages ----- */

    .h1-get-involved {
        padding: 40px 0px 0px 10%;
    }
    .main-events {
        margin: 0;
    }

    .boxes-one {
    }

    .section, .section-two {
        padding: 0px 10% 0px 10%;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .section p, .section-two img {
        grid-column: 1 / 2;
    }

    .section-two p, .section img {
        grid-column: 2 / 3;
    }

    .section-two {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .get-involved-text {
        grid-row: 1 / 2;
    }

     /* ----- visit us page ----- */

     .main-visit-us {
         margin: 0% 10% 10% 10%;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 50px;
     }

     .visit-us-img {
         grid-column: 1 / 3;
     }
     

}
